/* Novo estilo para centralizar a tabela e ajustar as cores */

body.biblioteca-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    margin-top: -100px;
}

.biblioteca-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #333; /* Cor do texto ajustada para melhor contraste */
}

.biblioteca-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    color: #333; /* Cor do texto ajustada */
    background-color: white; /* Fundo branco */
}

.biblioteca-table th,
.biblioteca-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.biblioteca-table th {
    background-color: #f5f5f5; /* Cor de fundo do cabeçalho mais clara */
    color: #333; /* Cor do texto do cabeçalho */
}

.biblioteca-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo das linhas pares mais clara */
}

.biblioteca-table tr:nth-child(odd) {
    background-color: #fff; /* Cor de fundo das linhas ímpares branca */
}

.biblioteca-table tr:hover {
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
}