body.cadastro-page-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 60px; /* Adiciona espaço para considerar a navbar */
}

.main-container-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 160px); /* Ajuste para considerar a navbar e margem adicional */
    margin-top: -10px;
}

.cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cadastro-box {
    width: 450px; /* Aumenta a largura da caixa */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    margin-top: 60px; /* Espaçamento adicional para considerar a navbar */
}

.cadastro-text {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.cadastro-form-group {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.cadastro-form-group.error input,
.cadastro-form-group.error select {
    border-color: red;
}

.cadastro-text-input {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}

.cadastro-input-field {
    width: 100%; /* Ajuste para centralizar */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 16px;
    background-color: #fff; /* Fundo branco */
    color: #000; /* Texto preto */
}

.email-input-container {
    display: flex;
    align-items: center;
    width: 100%; /* Faz com que a caixa de email ocupe toda a largura */
}

.email-input-container input[type="text"] {
    flex: 1;
}

.email-domain {
    margin-left: 5px;
    color: #888;
    flex-shrink: 0; /* Impede que o texto encolha */
}

.cadastro-button {
    width: 100%;
    padding: 12px;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgb(16, 195, 46);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.cadastro-button:hover {
    background-color: #1fab00;
}

.cadastro-message {
    margin-top: 20px;
    color: red;
}

.cadastro-error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    position: absolute;
    bottom: -20px; /* Ajuste a posição conforme necessário */
    left: 0;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: rgb(0, 129, 9);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.popup-content p {
    margin-bottom: 20px;
    color: white;
}

.popup-content button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-content button:hover {
    background-color: #45a049;
}