/* LandingPage.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  align-items: start;
  justify-content: start; 
}

.landing-page-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100vw;
  
  background-color: aliceblue;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 40px 0; /* Adiciona espaçamento na parte superior e inferior */
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #4caf50;
  border: 1px solid white;
}

.text-container, .image-container {
  flex: 1;
  padding: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
}

.landing-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.landing-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.landing-button:hover {
  background-color: #45a049;
}