@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.landing-page {
  font-family: Poppins, sans-serif;
  /* color: #ffffff; */
  align-items: start;
  justify-content: start; 
}

.landing-page-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100vw;
  /* background: white; */
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  /* border-radius: 10px; */
  box-sizing: border-box; 
}

.text-container, .image-container {
  flex: 1;
  padding: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #121212;
}

.image-container {
  display: flex;
  justify-content: center;
}

.landing-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.landing-button-login {
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  background-color: rgb(16, 195, 46);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.landing-button-signup {
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  background: none;
  border: 1px solid rgb(16, 195, 46);
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.h2-text {
  color: grey;
  font-weight: normal;
  font-size: 16px;
}