body.pesquisa-extensao-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

.pesquisa-extensao-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.pesquisa-extensao-table {
    width: 100%;
    max-width: 1000px; /* Defina a largura máxima da tabela */
    border-collapse: collapse;
    margin: 20px auto; /* Centraliza horizontalmente */
    color: #333;
    background-color: white;
}

.pesquisa-extensao-table th,
.pesquisa-extensao-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.pesquisa-extensao-table th {
    background-color: #f5f5f5;
    color: #333;
}

.pesquisa-extensao-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pesquisa-extensao-table tr:nth-child(odd) {
    background-color: #fff;
}

.pesquisa-extensao-table tr:hover {
    background-color: #e0e0e0;
}

.pesquisa-extensao-table .col-id {
    width: 10%;
}

.pesquisa-extensao-table .col-descricao {
    width: 30%;
}

.pesquisa-extensao-table .col-titulo {
    width: 30%;
}

.pesquisa-extensao-table .col-data {
    width: 20%;
}

.pesquisa-extensao-table .col-acao {
    width: 10%;
    text-align: center;
}

.chart-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

.pesquisa-extensao-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.pesquisa-extensao-container div[contenteditable]:focus {
    outline: none;
    border-bottom: 1px solid #333;
}

.download-button-pdf {
    background-color: #4CAF50; /* Verde */
    color: white; /* Branco */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

/* Estilo para o campo de data */
.date-input {
    border: none;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    background-color: transparent;
}

.date-input:focus {
    outline: none;
    border-bottom: 1px solid #333;
}