@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: transparent; /* Altere o fundo para transparente */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100vw;
  min-height: 80vh;
  position: relative; /* Adicione posição relativa para o body */
  background-color: white; /* Fundo branco abaixo da imagem */
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/pattern.png');
  background-size: 900px 600px; /* Ajuste o tamanho da imagem de fundo para ser maior */
  background-position: center;
  background-repeat: repeat;
  opacity: 0.025; /* Diminua a opacidade para deixar a imagem mais clara */
  z-index: -1; /* Coloque a imagem de fundo atrás do conteúdo */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #40ff2faa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}